build/

# Dependency directories
node_modules/
/uploads

.env
sendgrid.env

/src/mocks

# Environment variables
.env*
!.env.sample

# Script
src/scripts/backupMysql.ts
src/scripts/business/business-v2.ts
src/scripts/users-v2.ts
src/scripts/reviews/reviews-v2.ts
src/scripts/favorites-v2.ts

#Mock
src/mock/*

# Storage
src/storage/backup

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage report
coverage/

# Cypress
cypress/videos
cypress/screenshots

# Mac files
.DS_Store

# NextJS
/.next/
/out/

# Config
config/*
src/config/locales
!config/sample.env

*/**/subscriptions_*.csv
*/**/subscriptions_*.json
!*/**/subscriptions_10_08-15.json
.qodo

# stryker temp files
.stryker-tmp
reports